.landing {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.landing h1 {
  font-size: 300px;
  letter-spacing: 5px;
  line-height: .8;
  text-transform: uppercase;
  text-align: center;
  color: red;
}

.landing h5 {
  text-align: center;
  font-family: 'Almoneda';
  color: white;
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
}

.landing span {
  color: red;
  font-weight: 400;
}

.landing .inner-text {
  position: absolute;
  width: 53vw;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  margin-bottom: 27rem;
}

.landing .inner-text h4 {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: .8;
  font-family: 'almonedaregular';
  font-weight: 400;
  color: #cec9c9;
}

.landing .landing-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing .landing-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my-skills-main-reel {
  width: 100%;
  overflow: hidden;
}

.my-skills-main-reel .my-skills-reel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  will-change: transform;
  -webkit-animation: animation-reel 120s infinite linear;
          animation: animation-reel 120s infinite linear;
}

.my-skills-main-reel .reel-item {
  font-weight: 400;
  font-size: 180px;
  text-transform: uppercase;
  font-family: 'almonedaregular';
}

.about-me-container {
  padding-bottom: 6em;
}

.about-me-container p {
  font-size: 2.5rem;
  width: 80%;
  font-weight: lighter;
}

.about-me-container h1 {
  font-size: 150px;
  text-transform: uppercase;
}

.about-me-container .about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me-container .about-top .flower-svg img {
  width: 130px;
  -webkit-animation: animate-rotate 10s infinite linear;
          animation: animate-rotate 10s infinite linear;
}

@-webkit-keyframes animate-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6em;
}

.card-container .card {
  display: inline-block;
  font-size: 14px;
  padding: 5px 100px 25px 30px;
  color: #cec9c9;
  line-height: 1.4;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: calc(33.3% - 180px);
  min-height: 140px;
  background: rgba(255, 255, 255, 0.15);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
  margin: 2em 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.card-container .card:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
  border: 1px solid #cec9c9;
}

.card-container .icon {
  position: absolute;
  left: calc(100% - 200px);
  top: -10px;
  font-size: 80px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  color: #494848;
  font-size: 15em;
  z-index: -1;
}

.card-container .card img.bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.card-container .card h2 {
  color: #cec9c9;
  font-weight: 800;
  font-size: 28px;
  margin: 10px 0px 8px -2px;
  text-shadow: none;
  font-family: 'Montserrat', sans-serif;
}

.my-projects-container {
  width: 100%;
}

.my-projects-container h1 {
  font-size: 150px;
  text-transform: uppercase;
  text-align: right;
}

.my-projects-container .project-card {
  background: rgba(255, 255, 255, 0.15);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 3rem auto;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.my-projects-container .project-card:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
  filter: none;
  -webkit-filter: grayscale(0%);
}

.my-projects-container .project-img {
  background: url(../../public/project2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  width: 70%;
  height: 400px;
}

.my-projects-container .project-info {
  width: 30%;
  line-height: 1.5;
  position: relative;
}

.my-projects-container h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-left: 3rem;
}

.my-projects-container p {
  font-size: 18px;
  width: 70%;
  padding-left: 3rem;
}

.my-projects-container #arrow {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.my-projects-container #arrow:hover {
  -webkit-transform: rotate(-90deg) translateY(-0.1rem) scale(1.03);
          transform: rotate(-90deg) translateY(-0.1rem) scale(1.03);
}

@media only screen and (max-width: 1200px) {
  .card {
    width: calc(50% - 170px);
  }
}

@media only screen and (max-width: 800px) {
  .card {
    width: calc(100% - 160px);
  }
}

@media only screen and (max-width: 1280px) {
  .landing h1 {
    font-size: 220px;
  }
  .landing .inner-text {
    margin-bottom: 20rem;
    width: 50vw;
  }
  .landing .inner-text h4 {
    font-size: 40px;
  }
  .about-me-container p {
    font-size: 1.5rem;
    width: 100%;
  }
  .my-skills-main-reel .reel-item {
    font-size: 150px;
  }
  .project-card .project-img {
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: left;
    width: 70%;
  }
  .project-card .card {
    padding: 0;
    margin: 0;
  }
  .project-card .project-info h3 {
    font-size: 2rem;
    padding-top: .75rem;
  }
  .project-card .project-info p {
    font-size: 1rem;
    padding-bottom: 3rem;
  }
}

@-webkit-keyframes animation-reel {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animation-reel {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=Home.css.map */