@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'almonedaregular';
  src: url('./Fonts/Almoneda-Regular.otf') format('woff2'),
       url('./Fonts/Almoneda-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'almonedalight';
  src: url('./Fonts/Almoneda-Light.otf') format('woff2'),
       url('./Fonts/Almoneda-Light.otf') format('woff');
  font-weight: normal;
  font-style: normal;

}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
   padding: 0 10rem;
 }
 
body {
  background-color: #1A1919; 
  color: #cec9c9;
  font-family: 'Montserrat', sans-serif;
}

.App {
  margin: 0;
  padding: 0;
}

// universal // 

h1,h2 {
  font-family: 'almonedaregular';
  font-weight: 400;
  margin: 0;
  padding: 0;
}


// noise .//
.noise {
  &::before{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      content: "";
      /* opacity: 1; */
      opacity: .06;
      z-index: 1500;
      pointer-events: none;
      background: url(./Assets/noise.gif);
    }
}

