.footer {
    border-top: 2px solid #cec9c9;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 3rem;

    .footer-icons {
        font-size: 1.5rem;
        padding-left: .5em;
    }

    h4 {
        font-weight: lighter;
    }

    a {
        color: #cec9c9;

        &:hover {
            opacity: .5;
            transition: .5s;
        }

        &:visited {
            color: #cec9c9;
            text-decoration: none;
        }
    }
}